<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Camera / QR -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Wi-Fi (pre-13) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!-- Wi-Fi (13+) -->
    <uses-permission 
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />
    
    <!-- Notifikace (13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.webview" />
        <package android:name="com.android.webview" />
    </queries>

    <application
        android:name=".CyberSentinelApp"
        android:allowBackup="true"
        android:label="CyberSentinel"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.CyberSentinel">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CyberSentinel.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
